PWD=$(pwd)

export ROOT_DIR="$PWD"

export DATA_DIR="$ROOT_DIR/data"
export CACHE_DIR="$ROOT_DIR/cache"

export DESK_DIR="$ROOT_DIR/desk"
export DRAWER_DIR="$ROOT_DIR/drawer"
export SOLVED_DIR="$ROOT_DIR/solved"

export PATH="$PWD/bin:$PATH"
export PYTHONPATH="$PWD/lib"
